.searchtoggler {
  width: 50px;
  display: flex;
  position: relative;
}

.searchbar {
  width: 100%;
  height: 30vh;
  background: $white;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateY(-100%);
  box-shadow: 0 10px 15px rgba(0, 0, 0, .08);
  @include bezier-transition(transform);
  z-index: map-get($z-index, 'basket');

  @include mobile {
    width: 100%;
  }
}

.searchbar-toggle {
  &:hover {
    cursor: pointer;
  }
}


.search-input {
  padding-left: $xl-size !important;
}

.searchbar-input {
  width: 100%;
  background: $white;
}

.searchbar-recent {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: $white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  display: none;
}

.searchbar-recent-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $m-size;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 94%;
    height: 1px;
    background: $border-color;
  }
}

.searchbar-recent-clear:hover {
  cursor: pointer;
}

.searchbar-recent-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $m-size;
  padding-right: 0;

  &:hover {
    background: $border-color;
    cursor: pointer;
  }
}

.searchbar-recent-keyword {
  flex-grow: 1;
  padding: $s-size 0;
}

.searchbar-recent-button {
  font-weight: bold;
  padding: $s-size;
}

.searchbar-content {
  margin: 100px;
}

.searchbar-icon {
  position: absolute;
  left: 11.6rem;
  top: 11rem;
  margin: auto;
  color: #7a7a7a;
  font-size: 1.6rem;
}
